<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>Study Community 2022</title>
</head>

	
	<header class="header header--loggedIn">
		<div class="container">
			<a href="{% url 'home' %}" class="header__logo">
				<h1>Study Community</h1>
			</a>

{% block content %}

{% load crispy_forms_tags %}         

<!-- Register--> 
<div class="container py-5">
	<div class="layout__box">
	  <div class="layout__boxHeader">
		<h1>  R E G I S T E R </h1></div>
		<div class="layout__body" style="line-height: 1.65;">
			<form method="POST">
				{% csrf_token %}
				{{ register_form|crispy }}                    
				<button class="btn btn--main" type="submit" style="background-color: gray;">Register</button>
			</form>
			<p class="text-center">If you already have an account, <a href="/login" style="color:blue">LOGIN </a> instead</p>
		</div>
	</div>
  </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    <script src="{% static 'js/script.js' %}"></script>
</body>

</html> 
  
{% endblock %}
